<!DOCTYPE html>
<html lang="zh_CN">
	<head>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<title>Download Server</title>
	</head>
	<body>
		<div class="container" style="margin-top:30px">
            <h3 class="alert alert-success">Welcome To Download Server</h3>
			<div class="list-group">
                {% for key, value in sorted(file_dict.items(), key=lambda x: x[0]) %}
                    {% if value == "DIRECTORY" %}
                    <a class="list-group-item list-group-item-info" href="/{{ key }}" style="color:#337ab7">{{ key }}
                    {% else %}
                    <a class="list-group-item" href="/download/{{ key }}" style="color:#337ab7">{{ key }}
                    {% end %}
                        <span class="badge" style="background:#f00">{{ value }}</span>
		    		</a>
                {% end %}
			</div>
		</div>
	</body>
</html>
